---
import BaseLayout from "../layouts/BaseLayout.astro";
import CardAbout from "../components/CardAbout.astro";
import CardOfertaTeologica from "../components/CardOfertaTeologica.astro";
import CardSermonMax from "../components/CardSermonMax.astro";
import Subtitle from "../components/Subtitle.astro";

import iglesia from "../assets/Iglesia.jpg";
import banner from "../assets/bg_2.png";
import bachilleratoTeologia from "../assets/bachillerato-teologia.jpg";
import estudiosEducacionCristiana from "../assets/estudios-educacion-cristiana.jpg";
import estudiosPreparacionPastoral from "../assets/estudios-preparacion-pastoral.jpg";
import estudiosPastorales from "../assets/estudios-pastorales.jpg";

const sermons = await Astro.glob("./sermones/*.md");
const threeSermons = sermons
  .sort((a, b) => b.frontmatter.date - a.frontmatter.date)
  .slice(0, 3);
---

<BaseLayout title="IGLEPS">
  <section
    class="flex flex-col gap-8 items-center justify-center w-full h-screen bg-cover bg-center"
    style=`background: linear-gradient(to right, rgba(1, 6, 26, 0.8), rgba(1, 6, 26, 0.8)), url(${banner}); background-position: center;`
  >
    <h1 class="flex flex-col items-center font-bold gap-8">
      <span
        class="text-rose-600 text-base md:text-xl lg:text-2xl text-center tracking-[.4em] uppercase"
        >Bienvenidos a la página web de</span
      >
      <span
        class="text-white leading-8 text-base md:text-2xl lg:text-4xl text-center tracking-[.4em] uppercase"
        >Iglesia Evangélica Pentecostés</span
      >
      <span
        class="text-white text-base md:text-2xl lg:text-4xl text-center tracking-[.4em] uppercase"
        >"El Buen Samaritano"</span
      >
      <span
        class="text-white text-base md:text-2xl lg:text-4xl text-center tracking-[.4em] uppercase"
        >(IGLEPS)</span
      >
    </h1>
    <p class="text-white text-xs md:text-base lg:text-xl text-center">
      “Deja brillar el Buen Samaritano que hay en ti”
    </p>
  </section>

  <!-- Sobre Nosotros -->
  <section
    class="flex flex-col w-full gap-8 lg:flex-row lg:gap-16 h-auto p-8 lg:py-20 lg:px-40"
    id="sobre-nosotros"
  >
    <CardAbout
      icon="fa-solid fa-book-bible"
      title="Modelo Bíblico de Trabajo"
      text="El modelo bíblico de trabajo de IGLEPS es la persona de Jesucristo y, toma como base bíblica para su quehacer eclesial y pastoral, el texto de San Lucas 10: 25-37."
    />
    <CardAbout
      icon="fa-solid fa-bullseye"
      title="Misión"
      text="Ensanchar el reino de Dios en la Tierra, por medio de la predicación y enseñanza de la palabra de Dios para la edificación de los creyentes y buena noticia de salvación para todas y todos. Acompañar a través del discipulado cristiano y consejería pastoral, procesos de restauración espiritual para las familias e individuos, con el fin de que se conviertan en hombres y mujeres de bien y propositivos en sus respectivos hogares, iglesias y comunidades. Formar su liderazgo en ciencias bíblicas y teológicas, para que este, sea íntegro, y apto en el desarrollo de sus funciones pastorales y eclesiales."
    />
    <CardAbout
      icon="fa-solid fa-paper-plane"
      title="Visión"
      text="Crecer cualitativa y cuantitativamente y fortalecer en todos los aspectos, con un liderazgo propositivo y bien capacitado en biblia, teología y pastoral, así como en otras ciencias humanísticas que se interesan por el ser humano y su contexto de vida. Ser reconocida a nivel nacional e internacional por su manera de ser y de hacer su trabajo pastoral y eclesial a favor del ser humano y de su entorno."
    />
  </section>

  <section
    class="flex flex-col w-full gap-20 lg:flex-row justify-between h-auto p-8 lg:py-0 lg:px-40 bg-gray-100"
  >
    <div
      class=`h-[60vh] md:w-full lg:w-[50vw] md:h-[60vh] lg:h-auto bg-cover bg-center bg-blue-300 bg-blend-darken`
      style=`background-image: url(${iglesia});`
    >
    </div>
    <article class="flex flex-col gap-8 lg:w-1/2 lg:py-20">
      <h2 class="text-2xl lg:text-4xl uppercase font-bold tracking-[.3em]">
        CONOCE UN POCO DE NUESTRO ORIGEN COMO ORGANIZACIÓN CRISTIANA.
      </h2>
      <p class="leading-8 text-justify">
        IGLEPS Inicia su obra como organización cristiana, el <span
          class="font-bold text-rose-600">14 de abril de 1989</span
        >, en la República de Honduras centroamérica, bajo la dirección del
        reverendo Miguel Ángel Úbeda Quezada a quien Dios le hace sentir la
        necesidad de establecer una organización cristiana que dé fe del
        evangelio de jesucristo y acompañe los procesos de vida de las personas
        que necesitan la gracia de Dios, de acuerdo a los principios y valores
        del reino de Dios.
      </p>
      <a
        class="w-32 text-white bg-rose-600 hover:bg-rose-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-rose-600 dark:hover:bg-rose-800"
        >Leer Más</a
      >
    </article>
  </section>

  <section
    class="flex flex-col gap-8 items-center justify-between p-8 lg:mb-20 lg:py-20 lg:px-40 bg-rose-600"
  >
    <h2
      class="text-white text-xl lg:text-2xl font-bold text-center py-8 lg:p-0 uppercase"
    >
      Nos motiva compartir el EVANGELIO DE LA GRACIA DE JESUCRISTO con el mundo
      y CONTRIBUIR con la edificación de la iglesia del Señor.
    </h2>
    <span class="w-full text-right text-gray-200">“Aquí usted se sentirá amado y ayudado”</span>
  </section>

  <!-- Oferta Académica -->
  <Subtitle
    id="oferta-teologica"
    title="Oferta Teológica 2023-2026"
    subtitle="¡Inscríbete en el instituto bíblico shalom!"
    data-id="oferta"
  />
  <section class="flex flex-col gap-8 lg:gap-0 p-8 lg:py-20 lg:px-40">
    <CardOfertaTeologica
      title="Diploma en Estudios de Educación Cristiana"
      img={estudiosEducacionCristiana}
      direction="lg:flex-row"
      duration="1 año"
      requirements={new Array(
        "Saber leer y escribir.",
        "Ser lider o miembro de la iglesia.",
        "Ser Pastor o Pastora."
      )}
      studyPlan={new Array({
        year: "",
        subjects: new Array(
          "Panorama de la biblia.",
          "Bases de la educación cristiana.",
          "El perfil de IGLEPS.",
          "Aministración y liderazgo cristiano.",
          "Mayordomía bíblica / Finanzas bíblicas.",
          "Homilética básica.",
          "Apologética cristiana. (Sectas Falsas)",
          "Hermeneutica bíblica. (Básica)",
          "Teología práctica / Culto cristiano"
        ),
      })}
    />
    <CardOfertaTeologica
      title="Diploma en Estudios de Preparatoria Pastoral"
      img={estudiosPreparacionPastoral}
      direction="lg:flex-row-reverse"
      duration="1 año"
      requirements={new Array(
        "Ser Pastor o Pastora.",
        "Ser Lider aspirante al ministerio.",
        "Tener la primaria o saber leer y escribir."
      )}
      studyPlan={new Array({
        year: "",
        subjects: new Array(
          "Homilética I.",
          "Inttroducción a la Biblia.",
          "Ética pastoral.",
          "Eclesiología.",
          "Reglamento general.",
          "Español I",
          "Administración pastoral y eclesial.",
          "Hermenéutica I",
          "Teoligía práctica / Culto cristiano"
        ),
      })}
    />
    <CardOfertaTeologica
      title="Diploma en Estudios Pastorales"
      img={estudiosPastorales}
      direction="lg:flex-row"
      duration="3 años"
      requirements={new Array(
        "Ser Pastor o Pastora.",
        "Ser Lider aspirante al ministerio.",
        "Tener la primaria como mínimo."
      )}
      studyPlan={new Array(
        {
          year: "1° año",
          subjects: new Array(
            "Introducción a la Biblia.",
            "Homilética I.",
            "Teología bíblica y sistemática I.",
            "Hermenéutica I.",
            "Español I.",
            "Reglamento general.",
            "Eclesiología.",
            "Teología práctica / Culto cristiano."
          ),
        },
        {
          year: "2° año",
          subjects: new Array(
            "Historia del cristianismo.",
            "Homilética II.",
            "Teología bíblica y sistemática II.",
            "Hermenéutica II.",
            "Español II.",
            "Ética pastoral",
            "Evangelismo y discipulado.",
            "Introducción al Antiguo Testamento."
          ),
        },
        {
          year: "3° año",
          subjects: new Array(
            "Introducción al Nuevo Testamento.",
            "Introducción a la teología.",
            "Introducción a la filosofía.",
            "Teología bíblica y sistemática III.",
            "Consejería pastoral.",
            "Apologética cristiana.",
            "Aministración pastoral y eclesial.",
            "El Pastor, Forjador de Nuevos Pastores."
          ),
        }
      )}
    />
    <CardOfertaTeologica
      title="Bachillerato en Teología"
      img={bachilleratoTeologia}
      direction="lg:flex-row-reverse"
      duration="3 años"
      requirements={new Array(
        "Ser graduado de D. Estudios Pastorales.",
        "Ser graduado en bachiller."
      )}
      studyPlan={new Array(
        {
          year: "1° año",
          subjects: new Array(
            "Pentecostalismo.",
            "Introducción al Hebreo Bíblico I.",
            "Introducción al Griego Bíblico I.",
            "Ensayo Teológico."
          ),
        },
        {
          year: "2° año",
          subjects: new Array(
            "Principios básicos de administración.",
            "Homilética III.",
            "Introducción a la exégesis del Antiguo Testamento.",
            "Teologías emergentes."
          ),
        },
        {
          year: "3° año",
          subjects: new Array(
            "Introducción a la exégesis del Nuevo Testamento.",
            "Liturgia.",
            "Literatura sapiencial y apocalítica.",
            "Hermenéutica especial.",
            "Seminario Monográfico - Monografía/Defensa"
          ),
        }
      )}
    />
  </section>

  <!-- Sermones -->
  <Subtitle
    id="sermones"
    title="Sermones"
    subtitle="Edifica tu vida leyendo nuestros sermones"
  />
  <section
    class="flex flex-col lg:flex-row gap-8 justify-around p-8 lg:py-20 lg:px-40"
  >
    {
      threeSermons.map((sermon) => {
        return (
          <CardSermonMax
            img={sermon.frontmatter.img}
            title={sermon.frontmatter.title}
            description={sermon.frontmatter.description}
            date={sermon.frontmatter.date}
            url={sermon.url}
          />
        );
      })
    }
  </section>
</BaseLayout>
