---
import BaseLayout from "../layouts/BaseLayout.astro";

import CardOfertaTeologica from "../components/CardOfertaTeologica.astro";
import CardSermonMax from "../components/CardSermonMax.astro";
import Subtitle from "../components/Subtitle.astro";
import AboutSection from "../components/AboutSection.astro";

import banner from "../assets/bg_2.jpg";
import TheologicalOffer from "../components/TheologicalOfferSection.astro";

const sermons = await Astro.glob("./sermones/*.md");
const threeSermons = sermons
  .sort((a, b) => b.frontmatter.date - a.frontmatter.date)
  .slice(0, 3);
---

<BaseLayout title="IGLEPS">
  <section
    class="flex flex-col gap-8 items-center justify-center w-full h-screen"
    style=`background: linear-gradient(to right, rgba(1, 6, 26, 0.8), rgba(1, 6, 26, 0.8)), url(${banner}); background-size: cover; background-position: center;`
  >
    <h1 class="flex flex-col items-center font-bold gap-8">
      <span
        class="text-rose-600 text-base md:text-xl lg:text-2xl text-center tracking-[.4em] uppercase"
        >Bienvenidos a la página web de</span
      >
      <span
        class="text-white leading-8 text-base md:text-2xl lg:text-4xl text-center tracking-[.4em] uppercase"
        >Iglesia Evangélica Pentecostés</span
      >
      <span
        class="text-white text-base md:text-2xl lg:text-4xl text-center tracking-[.4em] uppercase"
        >"El Buen Samaritano"</span
      >
      <span
        class="text-white text-base md:text-2xl lg:text-4xl text-center tracking-[.4em] uppercase"
        >(IGLEPS)</span
      >
    </h1>
    <p class="text-white text-xs md:text-base lg:text-xl text-center">
      “Deja brillar el Buen Samaritano que hay en ti”
    </p>
  </section>

  <!-- Sobre Nosotros -->
  <AboutSection/>

  <!-- Oferta Académica -->
  <TheologicalOffer/>

  <!-- Sermones -->
  <Subtitle
    id="sermones"
    title="Sermones"
    subtitle="Edifica tu vida leyendo nuestros sermones"
  />
  <section
    class="flex flex-col lg:flex-row gap-8 justify-around p-8 lg:py-20 lg:px-40"
  >
    {
      threeSermons.map((sermon) => {
        return (
          <CardSermonMax
            img={sermon.frontmatter.img}
            title={sermon.frontmatter.title}
            description={sermon.frontmatter.description}
            date={sermon.frontmatter.date}
            url={sermon.url}
          />
        );
      })
    }
  </section>
</BaseLayout>
