---
interface Props {
  img: string;
  title: string;
  description: string;
  date: string;
  url: string
}

const { img, title, description, date, url } = Astro.props;
---

<section class="flex w-full flex-col items-center">
    <img src={img} alt={title} class="w-full h-auto object-cover" />
  <section class="flex flex-col w-full justify-around bg-pink-100 gap-4 p-8">
    <p class="text-xs text-rose-600">{date}</p>
    <h2 class="text-xl font-semibold">{title}</h2>
    <p class="h-16 text-gray-700">{description}</p>
    <section class="flex flex-row justify-between">
      <a
      href={url}
        class="w-32 text-white bg-rose-600 hover:bg-rose-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-rose-600 dark:hover:bg-rose-800"
        >Leer</a
      >
      <a
        class="w-32 text-white bg-rose-600 hover:bg-rose-800 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-rose-600 dark:hover:bg-rose-800"
        >Ver Más</a
      >
    </section>
  </section>
  <div class="h-1 w-5/6 bg-rose-600 rounded-b-lg"></div>
</section>
